$fuente: 70px;
$var10: 10px;
$anton: anton;
$indie: Indie Flower;
$minimo: 300px;
$imagen: url(../images/bann.jpg);
$imagen2: url(../images/black.jpg);
$alto: 350px;
$ancho: 100%;
$sizs: 2em, 5em, 8em;